<section class="main-subtitle">
  <table>
    <thead>
    <tr>
    Wyszukaj po:</tr>
    <tr>

    <td> Autorze:</td>
    <td><input type="text" (click)="getBooksByAuthor()" class="input"/></td>
    <td>
      <button (click)="getBooksByAuthor()" class="button"> Szukaj</button>
    </td>
    <tr>

      <td> Tytule:</td>
      <td><input type="text" (click)="getBooksByTitle()" class="input"/></td>
      <td>
        <button (click)="getBooksByTitle()" class="button"> Szukaj</button>
      </td>
    </tr>
    </thead>
  </table>
</section>

<section>
  <table>
    <thead>
    <tr class="main-subtitle">
      <th>#</th>
      <th>Autor</th>
      <th> Tytuł</th>
      <th> Wydawca</th>
      <th> Rok publikacji</th>
      <th>Miejsce publikacji</th>
      <th>ISBN</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.id}}</td>
      <td>{{book.author}}</td>
      <td>{{book.title}}</td>
      <td>{{book.publisher}}</td>
      <td>{{book.publicationYear}}</td>
      <td>{{book.placeOfPublication}}</td>
      <td>{{book.isbn}}</td>
    </tr>
    </tbody>
  </table>
</section>
