<main class="container">

  <div class="app-top">
    <hr>
  <app-top></app-top>
    <hr>
</div>


  <table>
    <tr>
      <td class="app-nav"><app-nav></app-nav></td>
      <td class="router-outlet"><router-outlet></router-outlet></td>
    </tr>
  </table>


<!--  <div class="app-nav">-->
<!--    <app-nav></app-nav>-->
<!--  </div>-->
<!--  <div class="router-outlet">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->


  <div class="app-bottom">
    <hr>
    <app-bottom></app-bottom>
    <hr>
  </div>

</main>
