<section>
  <table>
    <thead>
    <tr class="main-subtitle">
      <th>#</th>
      <th>Imię i nazwisko</th>
      <th> Rok urodzenia</th>
      <th> Numer telefonu</th>
      <th>Adres e-mail</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{user.year}}</td>
      <td>{{user.tel}}</td>
      <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
      <td>
        <a routerLink="/edit/{{user.id}}" class="button button-green">Edytuj</a>
        <button class="button button-red" (click)="delete(user)">Usuń</button>
      </td>
    </tr>
    </tbody>
  </table>
  <hr>
</section>
