<H2>Lista użytkowników:</H2>
<section *ngIf="user">
  <h2>Edycja #{{user.id}} <i>{{user.firstName}}</i></h2>

  <div>
    <label for="name">Imię:</label>
    <input type="text" id="name" [(ngModel)]="user.firstName">
  </div>


  <div>
    <label for="email">Adres e-mail:</label>
    <input type="email" id="email" [(ngModel)]="user.email">
  </div>

  <div>
    <button (click)="goBack()" class="button">Anuluj</button>
    <button (click)="save()" class="button button-green">Zapisz</button>
  </div>
</section>
