
<nav>
<ul class="nav_list">
  <li class="nav_item">
    <a class="nav_link" routerLink="/book">Wyszukaj książkę</a>
  </li>
  <li class="nav_item">
    <a class="nav_link" routerLink="/add_user">Dodaj użytkownika</a>
  </li>

  <li class="nav_item">
    <a class="nav_link" routerLink="/edit/:id">Wyszukaj użytkownika</a>
  </li>
  <li class="nav_item">
    <a class="nav_link" routerLink="/user">Lista użytkowników</a>
  </li>
  <li class="nav_item">
    <a class="nav_link" routerLink="/log">Zaloguj się</a>
  </li>
</ul>
</nav>
